



.content{
	
	height: 400px;
    width:400px;
	background-color:silver;
	border-radius: 20px;
	margin-right:20px;
	margin-left:200px;
	font-size:12px;

}
.profil
{
margin-left:80px;
margin-top:20px;

}