

.detailss
{
margin-left:100px;
background:#00008B;
color:white;
width:550px;
margin-top:30px;
height:40px;


}
.add-grade

{

height:500px;
color:black;
border-radius:2px;
margin-left:110px;
width:500px;
background:white;
border-radius:10px;

}
.dese{
margin-left:10px;
margin-right:25px;
height:200;
}
th
{
background:white;
color:black;
}
table{

margin-right:100px;
margin-left:100px;
width:550px;
color:black;


}